to-delete/
__pycache__/
systems_NPT/
systems_NVT/
mdout.mdp
martini3-files
analysis/
*.trr
*.edr
*.log
*.tpr
*.cpt
*.xvg
*.png
*.log
*.pdf
*.xtc
# pixi environments
.pixi/*
!.pixi/config.toml
Figures/
simulations-v1/
simulations-v2/
suv-analysis/*.csv
compression-data/
systems_NPT/
systems_NVT/
VMD/
misc_scripts/
