to-delete/
system1/
__pycache__/
systems/
mdout.mdp
martini3-files/
analysis/
analysis/
*.xtc
*.trr
*.edr
*.log
*.tpr
*.gro
*.cpt
*.xvg
*.png
*.log
*.pdf
# pixi environments
.pixi/*
!.pixi/config.toml
Figures/
simulations/