to-delete/
system1/
__pycache__/
systems/
mdout.mdp
analysis/
martini3-files/
*.trr
*.edr
*.log
*.tpr
*.gro
*.cpt
*.xvg
*.png
*.log
*.pdf
*.xtc
# pixi environments
.pixi/*
!.pixi/config.toml
Figures/
simulations/
suv-analysis/*.csv